apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: energy-prediction-server-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: energy-prediction-server
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 75