**/__pycache__

*/store

**/server.log

**/.venv

**data

**.ipynb_checkpoints

**mlartifacts

**/*.db

**models

**model.bin

# Logs
**/*.log

# Env
**/.env

# Terraform
**/.terraform
**/*.tfstate
**/*.tfstate.backup
**/crash.log
**/override.tf
**/override.tf.json
**/terraform.tfvars
**/terraform.tfvars.json