services:
  mlflow:
      image: ghcr.io/mlflow/mlflow
      container_name: mlflow-server
      command:
        - /bin/bash
        - -c
        - |
          mlflow server \
            --backend-store-uri sqlite:///mlflow.db \
            --host 0.0.0.0 \
            --port 5000 \
            --cors-allowed-origins "*" \
            --x-frame-options NONE \
            --disable-security-middleware
      ports:
        - "5000:5000"
      networks:
      - app-network

  prefect:
      image: prefecthq/prefect:3-latest
      command: prefect server start --host 0.0.0.0
      ports:
        - "4200:4200"
      depends_on:
        - mlflow
      networks:
        - app-network

  training-pipeline:
    image: <IMAGE_NAME>:<IMAGE_TAG>
    environment:
      - PREFECT_API_URL=http://prefect:4200/api
      - MLFLOW_URL=http://mlflow:5000
      - MODEL_NAME=<MODEL_NAME>
    depends_on:
      - prefect
    networks:
      - app-network

networks:
  app-network:
    driver: bridge