services:
  mlflow:
    image: ghcr.io/mlflow/mlflow
    ports:
      - "5000:5000"
    command: >
      mlflow server
      --host 0.0.0.0
      --port 5000
      --backend-store-uri sqlite:///mlflow.db
  energy-prediction-server:
    image: energy-prediction-server:1.0.0
    ports:
      - "8000:8000"
    environment:
      - MLFLOW_URL=http://mlflow:5000
    depends_on:
      - mlflow