services:
  mlflow:
      image: ghcr.io/mlflow/mlflow
      container_name: mlflow-server
      command:
        - /bin/bash
        - -c
        - |
          mlflow server \
            --backend-store-uri sqlite:///mlflow.db \
            --host 0.0.0.0 \
            --port 5000 \
            --cors-allowed-origins "*" \
            --x-frame-options NONE \
            --disable-security-middleware
      ports:
        - "5000:5000"
      networks:
      - app-network

  energy-prediction-server:
    image: agnes4im/energy-prediction-server:2.0.0
    ports:
      - "8000:8000"
    environment:
      - MLFLOW_URL=http://mlflow:5000
      - MODEL_NAME=Energy Consumption RandomForestRegression - Full Train
    depends_on:
      - mlflow
    networks:
      - app-network

  prefect:
    image: prefecthq/prefect:3-latest
    command: prefect server start --host 0.0.0.0
    ports:
      - "4200:4200"
    depends_on:
      - mlflow
    networks:
      - app-network

  training-pipeline:
    image: agnes4im/training-pipeline:1.0.0
    environment:
      - PREFECT_API_URL=http://prefect:4200/api
      - MLFLOW_URL=http://mlflow:5000
      - MODEL_NAME=Energy Consumption RandomForestRegression - Full Train
    depends_on:
      - prefect
    networks:
      - app-network

networks:
  app-network:
    driver: bridge