apiVersion: apps/v1
kind: Deployment
metadata:
  name: energy-prediction-server
  labels:
    app: energy-prediction-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: energy-prediction-server
  template:
    metadata:
      labels:
        app: energy-prediction-server
    spec:
      containers:
        - name: energy-prediction-server
          image: agnes4im/energy-prediction-server:2.0.0
          env:
            - name: MLFLOW_URL
              value: "http://mlflow:5000"
            - name: MODEL_NAME
              value: "Energy Consumption RandomForestRegression - Full Train"
          ports:
            - containerPort: 8000

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"

          livenessProbe:
            httpGet:
              path: /ping
              port: 8000
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3

          readinessProbe:
            httpGet:
              path: /ping
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3