name: FastAPI CI Pipeline

on:
  #push:
    #branches:
    #- main
    #paths:
    #- "capstone-project/server/Dockerfile"
    #- "capstone-project/server/predict.py"
  workflow_dispatch:

env:
  IMAGE_NAME: energy-prediction-server
  IMAGE_TAG: ${{ github.sha }}
  DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
  DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    # Python Setup
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest pytest-cov safety

    # Unit Tests + Coverage
    - name: Run unit tests
      run: |
        cd capstone-project
        pytest --cov=server \
        --cov-report=term-missing \
        --cov-report=xml

    # Dependency Vulnerability Scan
    - name: Dependency check - Safety
      run: |
        safety check --full-report || true

    # SonarQube Scan - SAST
    - name: SonarQube Scan
      uses: sonarsource/sonarqube-scan-action@v2
      with:
        projectBaseDir: capstone-project
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

    # SonarQube Quality Gate
    - name: SonarQube Quality Gate
      uses: sonarsource/sonarqube-quality-gate-action@v1
      timeout-minutes: 5
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

    # Docker Login
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: $DOCKERHUB_USERNAME
        password: $DOCKERHUB_TOKEN

    # Docker Build
    - name: Build Docker image
      run: |
        docker build \
          -f capstone-project/server/Dockerfile \
          -t $DOCKERHUB_USERNAME/$IMAGE_NAME:$IMAGE_TAG \
          .

    # Smoke Test
    - name: Run smoke tests
      run: |
        chmod +x capstone-project/server/scripts/smoke-test.sh
        ./capstone-project/server/scripts/smoke-test.sh

    # Trivy Image Scan
    - name: Scan image with Trivy
      uses: aquasecurity/trivy-action@0.20.0
      with:
        image-ref: ${{ secrets.DOCKERHUB_USERNAME }}/$IMAGE_NAME:${{ github.sha }}
        format: table
        exit-code: 1
        severity: CRITICAL,HIGH

    # Push Docker Image
    - name: Push Docker image
      run: |
        docker push $DOCKERHUB_USERNAME/$IMAGE_NAME:$IMAGE_TAG

    # Update Kubernetes Manifest
    - name: Update Kubernetes manifest image tag
      run: |
        sed -i \
          "s|image: .*|image: $DOCKERHUB_USERNAME/$IMAGE_NAME:$IMAGE_TAG|" \
          capstone-project/kubernetes/eks/server/deployment.yaml \

        sed -i \
          "s|image: .*|image: $DOCKERHUB_USERNAME/$IMAGE_NAME:$IMAGE_TAG|" \
          capstone-project/kubernetes/local/server/deployment.yaml

    - name: Commit updated manifest
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        git add capstone-project/kubernetes/eks/server/deployment.yaml capstone-project/kubernetes/local/server/deployment.yaml
        git commit -m "Update image tag to ${{ github.sha }}" || echo "No changes"
        git push